[Unit]
Description=GoZones
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
TimeoutStartSec=0
ExecStart=/usr/local/bin/go-zones -config /etc/go-zones/config.yml
Restart=on-failure

[Install]
WantedBy=multi-user.target